*.swp
*.log
app/config/config.php
app/config/database.php
scripts/logs/
scripts/etc/config.pl
scripts/etc/hosts
scripts/etc/recovery
scripts/bin/texto.pl
scripts/bin/prueba.pl
scripts/bin/recupera.pl
scripts/bin/rclogin_viejo_formato.pl
.DS_*
