@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic);
body {
  font-family: "Lato", sans-serif; 
  font-weight: 400;
}
body input, body textarea {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.logo {
  font-family: 'Handlee';
  float: left;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 45px;
  color: #c8c8c8;
  text-shadow: 0px 2px 3px #555;
  text-decoration: none;
  text-transform: none;
}

.logo a{
    color: #c8c8c8;
}

.section-title {
  font-family: 'Handlee', cursive;
  font-weight: normal;
  font-size: 40px;
  color: #444;
  text-decoration: none;
  word-spacing:15px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Handlee', cursive;
}
